<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get news</title>
</head>

<body>
  <div class="container">
    <h1 class="heading">Get news</h1>
    <form action="/" method="POST" class="main-form">
      <label class="main-form__label">
        <span>URL:</span>
        <input type="text" name="url" value="{{url}}" placeholder="https://meduza.io/">
      </label>
      <label class="main-form__label">
        <span>News class:</span>
        <input type="text" name="newsClass" placeholder="BlockTitle-first" value="{{newsClass}}">
      </label>
      <label class="main-form__label">
        <span>News count:</span>
        {{#if newsCount}}
        <input type="number" name="newsCount" value="{{newsCount}}">
        {{else}}
        <input type="number" name="newsCount" value="5">
        {{/if}}
      </label>
      <button type="submit">Get news</button>
    </form>

    <ul>
      {{#each data}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</body>

<style>
  html {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-size: 16px;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
  }

  .heading {
    margin: 0 0 12px 0;
  }

  .main-form {
    display: flex;
    flex-direction: column;
  }

  .main-form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
</style>

</html>
